# Environment Management
python-dotenv==1.0.0

# AI and Machine Learning
openai==1.23.2
instructor==1.2.2
llama-index==0.10.30

# Web Framework and ASGI Server
fastapi==0.110.2
uvicorn==0.29.0

# Data Validation and Parsing
pydantic==2.7.0

# Data Processing
pandas==2.2.2

# Speech Recognition
deepgram-sdk==3.2.6

# Image Processing
Pillow==9.2.0
imagehash==4.2.1
datasketch==1.5.3
pillow_heif==0.13.1
opencv_python==4.7.0.72

# File Type Identification
python-magic==0.4.27

# Multimedia Processing
ffmpeg-python==0.2.0

# Text Processing
chardet==5.0.0
langdetect==1.0.9

# Document Processing
PyPDF2==3.0.0
python-docx==0.8.11
python-pptx==0.6.21
